U1A5/code/U1A5_CastruitaDavid.json
[
    {
        "id": "tab1",
        "type": "tab",
        "label": "Telemetria IR",
        "disabled": false,
        "info": ""
    },
    {
        "id": "serial1",
        "type": "serial in",
        "z": "tab1",
        "name": "Arduino",
        "serial": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "parse",
                "fa34112e29142d04"
            ]
        ]
    },
    {
        "id": "parse",
        "type": "function",
        "z": "tab1",
        "name": "Parse & Calibracion",
        "func": "var parts = msg.payload.split(\",\");\nif(parts.length!=3) return null;\n\nvar t = parseInt(parts[0]);\nvar s1 = parseInt(parts[1]);\nvar s2 = parseInt(parts[2]);\n\nglobal.set(\"last_values\",{s1:s1,s2:s2});\n\nvar min_line = global.get(\"min_line\");\nvar max_floor = global.get(\"max_floor\");\n\nvar thr1=0,thr2=0;\nvar norm1=0,norm2=0;\n\nif(min_line && max_floor){\nthr1=(min_line.s1+max_floor.s1)/2;\nthr2=(min_line.s2+max_floor.s2)/2;\n\nnorm1=(s1-min_line.s1)/(max_floor.s1-min_line.s1);\nnorm2=(s2-min_line.s2)/(max_floor.s2-min_line.s2);\n\nnorm1=Math.max(0,Math.min(1,norm1));\nnorm2=Math.max(0,Math.min(1,norm2));\n}\n\nreturn [\n    { payload: s1, topic: \"s1\" },\n    { payload: s2, topic: \"s2\" },\n    { payload: norm1, topic: \"n1\" },\n    { payload: norm2, topic: \"n2\" },\n    { payload: { t: t, s1: s1, s2: s2, n1: norm1, n2: norm2, thr1: thr1, thr2: thr2 } }\n];",
        "outputs": 5,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "2860994b4fc3f4ab"
            ],
            [
                "17e40e6bed11569b"
            ],
            [
                "gauge1"
            ],
            [
                "gauge2"
            ],
            [
                "line1",
                "file1"
            ]
        ]
    },
    {
        "id": "chart1",
        "type": "ui_chart",
        "z": "tab1",
        "name": "Sensor 1",
        "group": "c770bd6791e8ea88",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "S1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": "150",
        "removeOlderPoints": "150",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "chart2",
        "type": "ui_chart",
        "z": "tab1",
        "name": "Sensor 2",
        "group": "c770bd6791e8ea88",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "S2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": "150",
        "removeOlderPoints": "150",
        "removeOlderUnit": "1",
        "cutout": "",
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "gauge1",
        "type": "ui_gauge",
        "z": "tab1",
        "name": "Norm S1",
        "group": "c770bd6791e8ea88",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Norm S1",
        "label": "0-1",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "gauge2",
        "type": "ui_gauge",
        "z": "tab1",
        "name": "Norm S2",
        "group": "c770bd6791e8ea88",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Norm S2",
        "label": "0-1",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "line1",
        "type": "function",
        "z": "tab1",
        "name": "LINEA/NO LINEA",
        "func": "var min_line = global.get(\"min_line\");\nvar max_floor = global.get(\"max_floor\");\nif(min_line && max_floor){\nvar thr=(min_line.s1+max_floor.s1)/2;\nif(msg.payload<thr)\nmsg.payload=\"LINEA\";\nelse\nmsg.payload=\"NO LINEA\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 280,
        "wires": [
            [
                "text1"
            ]
        ]
    },
    {
        "id": "text1",
        "type": "ui_text",
        "z": "tab1",
        "group": "c770bd6791e8ea88",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Estado",
        "label": "Estado S1",
        "format": "{{msg.payload}}",
        "layout": "",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "btn_negro",
        "type": "ui_button",
        "z": "tab1",
        "name": "NEGRO",
        "group": "c770bd6791e8ea88",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capturar NEGRO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "fn_negro"
            ]
        ]
    },
    {
        "id": "fn_negro",
        "type": "function",
        "z": "tab1",
        "name": "Guardar NEGRO",
        "func": "var last=global.get(\"last_values\");\nif(!last) return null;\nglobal.set(\"min_line\",last);\nreturn {payload:\"NEGRO guardado\"};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "btn_blanco",
        "type": "ui_button",
        "z": "tab1",
        "name": "BLANCO",
        "group": "c770bd6791e8ea88",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capturar BLANCO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "fn_blanco"
            ]
        ]
    },
    {
        "id": "fn_blanco",
        "type": "function",
        "z": "tab1",
        "name": "Guardar BLANCO",
        "func": "var last=global.get(\"last_values\");\nif(!last) return null;\nglobal.set(\"max_floor\",last);\nreturn {payload:\"BLANCO guardado\"};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "file1",
        "type": "file",
        "z": "tab1",
        "name": "Guardar CSV",
        "filename": "C:\\Users\\jdccu\\OneDrive\\Documentos\\Octavo semestre\\Ciberfisica\\Practicas\\U1A6\\calibracion.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 580,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2860994b4fc3f4ab",
        "type": "ui_chart",
        "z": "tab1",
        "name": "S1",
        "group": "c770bd6791e8ea88",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "S1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": "150",
        "removeOlderPoints": "150",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "17e40e6bed11569b",
        "type": "ui_chart",
        "z": "tab1",
        "name": "S2",
        "group": "c770bd6791e8ea88",
        "order": 6,
        "width": "0",
        "height": "0",
        "label": "S2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": "150",
        "removeOlderPoints": "150",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "fa34112e29142d04",
        "type": "debug",
        "z": "tab1",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 40,
        "wires": []
    },
    {
        "id": "c770bd6791e8ea88",
        "type": "ui_group",
        "name": "Default",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "IR Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "a387ed68fe3e024a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6"
        }
    }
]